* {
  background-color: rgb(23, 22, 22);
  font-family: poppins;
  align-items: center;
}

body {
  width: 100vw;
  overflow: hidden;
}

.navbar {
  margin-top: 5vh;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.navbar li {
  color: white;
  text-decoration: none;
  list-style-type: none;
  margin-left: 10vw;
  margin-right: 10vw;
}

.home_title {
  margin-top: 5vh;
  color: white;
  margin-left: 5vw;
  border-bottom: 1px solid white;
  width: 90vw;
}

.schedule {
  margin-left: 5vw;
  width: 90vw;
  color: white;
  border-collapse: collapse;
}

.schedule th,
td {
  border: solid;
  border-width: 1px;
  border-color: white;
  font-weight: 200;
}

.schedule_row_titles th {
  font-weight: 800;
  border-width: 2px;
}

.schedule_time {
  font-weight: 800;
}

.nav_img {
  width: 3vw;
  padding: 5px;
  border-radius: 5px;
}

.nav_img:hover {
  cursor: pointer;
  animation-name: navbuttons;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.text_input {
  color: white;
  border: none;
  background-color: rgb(68, 66, 66);
  border-radius: 10px;
  padding: 5px;
  width: 60%;
  margin-bottom: 0.5vh;
}

.text_inputperson {
  color: white;
  border: none;
  background-color: rgb(68, 66, 66);
  border-radius: 10px;
  padding: 5px;
  width: 60%;
  margin-bottom: 0.5vh;
}
.add_something {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  width: 30vw;
  height: 35vh;
  border-color: white;
  border-radius: 1px;
  border-style: solid;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border-radius: 20px;
}

.add_something h2 {
  border-bottom: 1px solid white;
}

.add_room {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  width: 30vw;
  height: 20vh;
  border-color: white;
  border-radius: 1px;
  border-style: solid;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border-radius: 20px;
}

.add_room h2 {
  border-bottom: 1px solid white;
}

.add_class {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  width: 30vw;
  height: 20vh;
  border-color: white;
  border-radius: 1px;
  border-style: solid;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border-radius: 20px;
}

.add_person {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  width: 30vw;
  height: 40vh;
  border-color: white;
  border-radius: 1px;
  border-style: solid;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border-radius: 20px;
}

.add_person h2 {
  border-bottom: 1px solid white;
}

.add_booking {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  width: 30vw;
  height: 39vh;
  border-color: white;
  border-radius: 1px;
  border-style: solid;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border-radius: 20px;
}

.button_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
}

.highlight_button {
  color: white;
  padding: 5px;
  border-style: solid;
  border-color: rgb(68, 66, 66);
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  width: 20%;
  font-size: medium;
}

.highlight_button:hover {
  cursor: pointer;
  animation-name: promptButtonAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes promptButtonAnimation {
  0% {
    border-color: rgb(68, 66, 66);
  }
  50% {
    border-color: rgb(132, 130, 129);
  }
  100% {
    border-color: rgb(68, 66, 66);
  }
}

.prompt_link:hover {
  cursor: pointer;
  animation-name: promptLinkAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes promptLinkAnimation {
  0% {
    color: white;
  }
  50% {
    color: rgb(132, 130, 129);
  }
  100% {
    color: white;
  }
}

.selectmenu {
  color: white;
  width: 60%;
  padding: 5px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.selectmenu:hover {
  cursor: pointer;
}

@keyframes navbuttons {
  0% {
    background-color: rgb(68, 66, 66);
  }
  100% {
    background-color: rgb(121, 114, 110);
  }
}

.error-box {
  background-color: rgb(169, 22, 22);
  border-radius: 2rem;
  width: 27vw;
  height: 23vh;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  top: -35vh;
  transition: 0.2s;
  color: white;
  text-align: center;
  font-size: 3.5vh;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

/*----- Error-Box effects -----*/

.flyIn {
  animation: flyIn 0.5s forwards;
}

.flyOut {
  animation: flyOut 0.5s forwards;
}

@keyframes flyIn {
  to {
    top: 2vh;
  }
}

@keyframes flyOut {
  to {
    top: -35vh;
  }
}

/*----- Error-Box effects -----*/

.success-box {
  background-color: rgb(1, 188, 29);
  border-radius: 2rem;
  width: 27vw;
  height: 5vh;
  margin-top: 1vh;
  padding: 2rem;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 5;
  transition: 0.2s;
  color: white;
  text-align: center;
  font-size: 3.5vh;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

.success-box h2 {
  background-color: rgb(1, 188, 29);
  font-size: large;
}

.success-box p {
  background-color: rgb(1, 188, 29);
  font-size: medium;
}

.flyInSuccess {
  animation: successBoxAnimation 3s forwards;
}

@keyframes successBoxAnimation {
  0% {
    top: -20%;
  }
  50% {
    top: 0;
  }
  100% {
    top: -20%;
  }
}
